*~
#*
results/
archives/
TAGS
/old/
/aflab-303cluster/
/mwup/
sets/*
/mwup-bin
/nextrun
*.old
*.bug
/allpaths10.tar.gz
/sets
/allpaths10-processed.tar.gz
/failed/
/mwup
/mwup-modified-dump-all-paths/
/nextrun-allpath
/ok/
/old2/
/skippedrun
